@font-face {
  font-family: "Mark";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/markregular-webfont.eot?") format("eot"), url("/fonts/markregular-webfont.woff2") format("woff2"), url("/fonts/markregular-webfont.woff") format("woff"), url("/fonts/markregular-webfont.ttf") format("truetype"), url("/fonts/markregular-webfont.svg#Mark") format("svg"); }
@font-face {
  font-family: "Mark";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/markregularitalic-webfont.eot?") format("eot"), url("/fonts/markregularitalic-webfont.woff2") format("woff2"), url("/fonts/markregularitalic-webfont.woff") format("woff"), url("/fonts/markregularitalic-webfont.ttf") format("truetype"), url("/fonts/markregularitalic-webfont.svg#Mark") format("svg"); }
@font-face {
  font-family: "Mark";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/markbold-webfont.eot?") format("eot"), url("/fonts/markbold-webfont.woff2") format("woff2"), url("/fonts/markbold-webfont.woff") format("woff"), url("/fonts/markbold-webfont.ttf") format("truetype"), url("/fonts/markbold-webfont.svg#Mark") format("svg"); }
@font-face {
  font-family: "Mark";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/markbolditalic-webfont.eot?") format("eot"), url("/fonts/markbolditalic-webfont.woff2") format("woff2"), url("/fonts/markbolditalic-webfont.woff") format("woff"), url("/fonts/markbolditalic-webfont.ttf") format("truetype"), url("/fonts/markbolditalic-webfont.svg#Mark") format("svg"); }
